/*
!/.gitignore
!/app/
/app/*

!/app/design/
/app/design/*
!/app/design/adminhtml/
!/app/design/frontend/


!/app/code/
/app/code/core/*
/app/code/community/*
!/app/code/local/

!/app/etc
/app/etc/**
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Magentostudy_News.xml

!/skin/
/skin/*
!/skin/adminhtml/
!/skin/frontend/