<?xml version="1.0"?>

<config>
    <modules>
        <Azazello_HelloWorld>
            <version>0.1.0</version>
        </Azazello_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <Azazello_HelloWorld_Test>
                <use>standard</use>
                <args>
                    <module>Azazello_HelloWorld</module>
                    <frontName>azazello-test</frontName>
                </args>
            </Azazello_HelloWorld_Test>
        </routers>
    </frontend>
</config>